html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}		

body {
	background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
}


  
  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  
 .inner-content {
	background: url("../images/3.png");
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	padding: 20px 30px;
	margin-bottom: 40px;
	margin-top: 150px;
 }
 
 .content {
	 
	background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
	
	z-index: 9999;
    bottom:0;
	text-align: center;
	position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
 }
  
 .content h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 450%;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  }
  
 .content h1:after {
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Poiret One', sans-serif;
    content: 'A partial completion for Web Design 2';
    font-size: .2em;
    text-align: center;
  }
  
  .button-line {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #fff;
	border-radius: 9px;
    color: #fff;
    text-align: center;
    font-size: 150%;
    opacity: .5;
    padding: 20px 40px;
    text-decoration: none;
    transition: all .5s ease;
    margin: 0 auto;
  }
  
  .button-line:hover {
    opacity: 1;
  }
  
  
  .outer-calc {
	  padding-top: 150px;
  }
  
  .main-calc {
	  width: 60%;
	  height: auto;
	  border: 1px solid white;
	  border-radius: 9px;
	  margin: auto;
	  background: url("../images/3.png");
	  background-size:contain;
	  background-position:center;
	  background-repeat: no-repeat;
	  overflow:auto;
  }
  
  .space {
	  
	  position: relative;
	  width: auto;
	  height: 20px;
	  background: none;
  }
  
	form {
	  margin: 20px auto 10px auto;
	  padding: 30px;
  }
  
	select {
	  position: relative;
	  background: none;
	  color: white;
	  left: 0px;
	  font-family: 'Helvetica', sans-serif;
	  font-size: 100%;	
	  z-index: 1;
	  border: 1px solid white;
	  opacity: .5;
	  transition: all .5s ease;
  }	
  
	select:hover {
		opacity: 1;
	}
  
	option {
		background-color: #82caff;
	}
  
	label {
		
	  position: relative;
	  top: -20px;
	  left: 0px;
	  color: white;
	  font-family: 'Helvetica', sans-serif;
	  font-size: 100%;	
	  z-index: 1;
	  transition: all 1s ease;
  }
 
	input {
		
	  display: block;
	  position: relative;
	  background: none;
	  border: none;
	  border-bottom: 1px solid #ddd;
	  width: 100%;
	  font-family: 'Helvetica', sans-serif;
	  font-weight: bold;
	  color: white;
	  font-size: 100%;
	  z-index: 2;
	  transition: all 1s ease-in;
}


	.diff {
		width: 100%;
		display: inline;
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		z-index: 2;
	}
	
	
	#forDiff {
		
		top:0px;
		z-index: 1;
		position: relative;
	}
	
	#forDiff2 {
		
		top:0px;
		z-index: 1;
		position: relative;
	}
	
	.separator {
		 width:40%;
		 position: relative;
		 display: inline-block;
	}	
	
	input:focus, input:valid {
		outline: none;
		border-bottom: 1px solid black;
	}
	
	input:focus + label, input:valid + label {
		top:-40px;
		font-size: 11px;
		color: black;
	}
	
	.diff:focus + #forDiff, .diff:valid + #forDiff {
		top:-20px;
		font-size: 11px;
		color: black;
	}
	
	
	.diff:focus + #forDiff2, .diff:valid + #forDiff2 {
		top:-20px;
		font-size: 11px;
		color: black;
	}
	
	.calcImage {
		float:right;
		overflow:auto;
		width: 20%;
	}
	
	.image-holder {
		overflow: auto;
		margin: 20px auto 10px auto;
		padding: 30px;
	}
	
	#hidden {
		display: none;
	}
	
	.image-holder .bubbles {
		
	float: right;
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 400%;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	
	font-family: 'Helvetica', sans-serif;
	font-size: 100%;
}

	.image-holder .bubbles:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -15%;
	  top: 25%;
	  border: 15px solid;
	  border-color: transparent transparent #666  #666  ;
}
	
	.image-holder .bubbles:after {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -7%;
	  top: 35%;
	  border: 8px solid;
	  border-color: transparent transparent #fff #fff ;
}
	
	.button-holder {
		display: inline-block;
		position: relative;
	}
	
	.button-holder button{
		margin-right: 10px;
		background-color: Transparent;
		background-color: Transparent;
		background-repeat:no-repeat;
		border: 1px solid white;
		cursor:pointer;
		overflow: hidden;
		outline:none;
		font-family: 'Helvetica', sans-serif;
		font-size: 150%;
		color: white;
		transition: all 1s ease;
	}
	
	.result-holder {
		display: inline-block;
	}
	
	#result-comment{
		
		font-family: 'Helvetica', sans-serif;
		opacity: 0;
		font-size: 100%;
		color: white;
		transition: all 1s ease;
	}
	
	#total-interest{
		
		font-family: 'Helvetica', sans-serif;
		opacity: 0;
		color: white;
		transition: all 1s ease;
		font-size: 250%;
	}
	

	/** For width */
  @media screen and (max-width: 900px) {
	.content h1 {
		font-size: 350%;
	}
	
	#result-comment {
		font-size: 70%
	}
	
	#total-interest {
		font-size: 160%;
	}
	
	label {
		font-size: 90%;
	}
	
	.button-holder button{
		font-size: 130%;
	}
	
	input {
		font-size: 90%;
	}
	
	select {
		font-size: 90%;
	}
	
	input:focus + label, input:valid + label {
		top:-30px;
		font-size: 70%;
	}
	
	.button-line {
		font-size: 90%;
		padding : 13px 25px;
	}
	
	.inner-content {
		margin-bottom: 30px;
	}
	
	.image-holder .bubbles {
		line-height: 300%;
		font-size: 80%;
		
		border: 3px solid #666;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
		
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
	}
	
	
	.image-holder .bubbles:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -10%;
	  top: 25%;
	  border: 8px solid;
	  border-color: transparent transparent #666  #666  ;
}
	
	.image-holder .bubbles:after {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -5%;
	  top: 30%;
	  border: 5px solid;
	  border-color: transparent transparent #fff #fff ;
}
}

 
  @media screen and (max-width: 768px) {
	  
	.content h1 {
		font-size: 250%;
	}
	
	#result-comment {
		font-size: 70%
	}
	
	#total-interest {
		font-size: 120%;
	}
	
	.button-holder button{
		font-size: 100%;
	}
	
	label {
		font-size: 80%;
	}
	
	select {
		font-size: 80%;
	}
	
	input {
		font-size: 80%;
	}
	
	input:focus + label, input:valid + label {
		top:-35px;
		font-size: 50%;
	}
	
	.button-line {
		font-size: 60%;
		padding : 10px 20px;
	}
	
	.inner-content {
		margin-bottom: 20px;
	}
	
	
		.image-holder .bubbles {
		line-height: 250%;
		font-size: 60%;
		
		border: 1px solid #666;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
		
		-webkit-box-shadow: 1px 1px 1px #888;
		-moz-box-shadow: 1px 1px 1px #888;
		box-shadow: 1px 1px 1px #888;
	}
	
	
	.image-holder .bubbles:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -7%;
	  top: 40%;
	  border: 4px solid;
	  border-color: transparent transparent #666  #666  ;
}
	
	.image-holder .bubbles:after {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -4%;
	  top: 40%;
	  border: 3px solid;
	  border-color: transparent transparent #fff #fff ;
}


}

  @media screen and (max-width: 480px) {
	.content h1 {
		font-size: 180%;
	}
	
	#result-comment {
		font-size: 40%
	}
	
	#total-interest {
		font-size: 80%;
	}
	
	label {
		font-size: 70%;
	}
	
	
	.button-holder button{
		font-size: 100%;
	}
	
	form {
		padding: 10px;
	}
	
	select {
		font-size: 70%;
	}
	
	input {
		font-size: 70%;
	}
	
	.button-holder button{
		font-size: 70%;
	}
	
	#forDiff {
		font-size: 45%;
	}
	
	.diff {
		width: 100%;
	}
	
	
	input:focus + label, input:valid + label {
		top:-30px;
		font-size: 40%;
	}
	
	.diff:focus + #forDiff, .diff:valid + #forDiff {
		top:-13px;
		font-size: 10%;
		color: black;
	}
	
	.button-line {
		font-size: 50%;
		padding : 8px 17px;
	}
	
	.inner-content {
		margin-bottom: 10px;
	}
	
	.image-holder .bubbles {
		line-height: 150%;
		font-size: 40%;
		
		border: 1px solid #666;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		
		-webkit-box-shadow: 1px 1px 1px #888;
		-moz-box-shadow: 1px 1px 1px #888;
		box-shadow: 1px 1px 1px #888;
	}
	
	
	.image-holder .bubbles:before {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -10%;
	  top: 25%;
	  border: 4px solid;
	  border-color: transparent transparent #666  #666  ;
}
	
	.image-holder .bubbles:after {
	  content: ' ';
	  position: absolute;
	  width: 0;
	  height: 0;
	  right: -5%;
	  top: 25%;
	  border: 3px solid;
	  border-color: transparent transparent #fff #fff ;
}
	
}





/** For height */


  @media screen and (max-height: 700px) {
	  
	.inner-content {
		margin-top: 100px;
	}
	
	.outer-calc {
		padding-top: 40px;
	}
	
}


  @media screen and (max-height: 500px) {
	  
	.inner-content {
		margin-top: 80px;
	}
	
	.outer-calc {
		padding-top: 40px;
	}
}

	@media screen and (max-height: 250px) {
	  
	.inner-content {
		margin-top: 40px;
	}
	
	.outer-calc {
		padding-top: 20px;
	}
}